$primary-color: rgb(22, 39, 89);
$secondary-color: rgb(71, 111, 147);
$highlight-color: rgb(235, 231, 2);
$light-color: rgb(242, 241, 235);
$hover-color: rgb(168, 174, 191);

$header-dark: hsl(228, 72%, 7%);
$para-dark: hsl(225, 10%, 16%)
