@import '../colors/colors';

.aboutme {
  background-color: #476f93;
  background-image: url('../../images/layout/bubbles.svg');
  padding: 2rem 2rem;
  text-align: center;

  &__heading {
    font-size: 3rem;
    color: $light-color;
    margin-bottom: 3rem;
  }

  &__blurbs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 0 2rem;

    &__blurb {
      background-color: $light-color;
      padding: 1rem;
      color: $para-dark;
      font-weight: 500;
      margin-bottom: 2rem;
      transition: background-color 0.4s;

      &:hover {
        background-color: $hover-color;
      }
    }
  }
}

.swiper-slide {
  border-radius: 3rem;

  &__pic {
    border-radius: 3rem;
  }
}
