.footer {
  background-image: url('../../images/layout/footer.svg');
  height: calc(10rem + 10vw);
  width: 100vw;
  padding: 0 1rem;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  &__links {
    display: flex;
    list-style: none;
    margin-bottom: .5rem;
  }

  &__link {
    margin-right: 1.5em;
    cursor: pointer;
  }

  &__img {
    width: 18vw;
    transition: transform 0.4s;
    
    &:hover {
      transform: scale(1.1);
    }
  }
}