@media only screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
  
  .navbar {
    &__item {
      font-size: 1.5rem;
    }
  }
  .projects {
    max-width: 1300px;
    margin: 0 auto;
    &__project {
      display: flex;
      gap: 1rem;

      &__title {
        text-align: center;
      }

      &__text {
        order: 1;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &__img {
        order: 2;
        flex: 1;
        align-self: center;

        &__desktop {
          width: 100%;
          height: auto;
        }

        &__mobile {
          width: 100%;
          height: 100%;
        }
      }
      
      &__buttons {
        align-self: center;
      }
    }
  }
}

@media only screen and (min-width: 700px) {
  // h2 {
  //   font-size: clamp(3rem, 5vw, 5rem) !important;
  // }

  .welcome {
    height: 100vh;
    flex-direction: row;

    &__text {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__img {
      width: 50%;

        &__portrait {
        width: 100%;
        height: 100vh;
        object-fit: cover;
      }
    }
  }

  .projects__heading, .aboutme__heading, .contact--email {
    font-size: clamp(3rem, 5vw, 5rem) !important;
  }
}

@media only screen and (min-width: 800px) {
  // setting rules for main (desktop) navbar
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 100;
    opacity: 1;
    font-size: 1.2rem;
    font-weight: 400;
    transition: background-color 0.3s ease-out;
    mix-blend-mode: difference;

    &__links {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      list-style: none;
      padding: 1rem;
    }

    &__item {
      margin: 0.3rem 1.5rem;
    }

    // these two blocks control the link opacity on page load
    &__item:after {
      transition: none;
    }
  
    &__item:active:after,
    &__item:focus:after,
    &__item:hover:after,
    &__item:visited:after {
      opacity: 0;
    }

    &__link {
      text-decoration: none;
      text-transform: uppercase;
      &:link,
      &:visited {
        color: $light-color;
        -webkit-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
      }
      &:hover {
        color: $highlight-color;
        -webkit-transition: color 0.4s ease-in-out;
        transition: color 0.4s ease-in-out;
      }
    }
  // removing hamburger menu above 800px
      &__hamburger {
        display: none;

        &__icon {
          display: none;
        }
      }
  }
  
  // contact sections and footer styles
    .contact {
      margin: 4rem 0 -4rem 0;
    }

    .footer {
      height: calc(10rem + 30vw);

      &__img {
        max-width: 300px;
        width: 17vw;
      }
    }
  }

@media only screen and (min-width: 900px) {
  .aboutme {
    &__heading {
      margin: 2rem 0 4rem 0;
    }

    &__wrapper {
      display: flex;
      gap: 2rem;
      max-width: 1800px;
      margin: 0 auto;
    }

    &__blurbs {
      flex: 1;
    }
  }

  .swiper-container {
    flex: 1;
    align-self: center;
    border: 2rem solid $primary-color;
    background-color: $primary-color;
    border-radius: 12px;
  }
}

@media only screen and (min-width: 1000px) {
  .welcome {
    &__text {
      &__h1 {
        font-size: clamp(3rem, 5vw, 5rem);
      }
  
      &__h2 {
        font-size: clamp(2rem, 4vw, 4rem);
      }
    }
  }

  .projects {
    max-width: 1500px;
    margin: 0 auto;

    &__project {
      gap: 4rem;
      &__text {
        order: 1;
        max-width: 20em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &__img {
        order: 2;
        width: 60%;
        align-self: center; 
      }
    }
  }

  .contact {
    &__resumeBtn {
      font-size: 3rem;
    }
  }
}

@media only screen and (min-width: 1300px) {
  .skills {
    margin: 7rem auto;
  }

  .badge {
    font-size: clamp(3rem, 5vw, 5rem);
  }

  .projects {
    &__heading {
      margin-bottom: 8rem;
    }

    &__project {
      margin-bottom: 8rem;
    }
  }
}