@import '../colors/colors';

.navbar {
  position: relative;
  text-align: center;
  font-weight: 600;

  &__hamburger {
    color: black;
    padding: 14px 16px;
    text-decoration: none;

    &__icon {
      display: flex;
      justify-content: center;
      margin: 0rem auto;
      font-size: 3.5rem;
    }
  }

  &__links {
    display: none;
    list-style: none;
  }

  &__item {
    margin: 0.3rem 1rem;
    font-size: 1.3rem;
    position: relative;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
  }
}