@import '../colors/colors';
@import url(https://unpkg.com/css-aspect-ratio@1/css-aspect-ratio.css);


.projects {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
  padding: 0 2rem;

  &__heading {
    font-size: 3rem;
    margin-bottom: 4rem;
    color: $header-dark;
  }

  &__project {
    margin-bottom: 4rem;

    &__img {
      display: grid;
      height: 100%;
      position: relative;

      &__desktop {
        width: 85vw;
        // height: 14rem;
        --aspect-ratio-w: 512; 
        --aspect-ratio-h: 245;
        margin: auto;
        border: 7px solid $primary-color;
        border-radius: 5px;
      }

      &__mobile {
        position: absolute;
        width: 25vw;
        --aspect-ratio-w: 57; 
        --aspect-ratio-h: 80;
        border: solid black;
        border-width: 10px 5px;
        border-radius: 10px;
        top: 25%;
        right: 3%;
      }
    }

    &__text {
      text-align: left;
      margin-top: 2rem;
    }

    &__title {
      font-size: 1.5rem;
      color: $header-dark;
    }

    &__description {
      color: $para-dark;
    }

    &__description,
    &__tech {
      font-size: 1.3rem;
      line-height: 1.8rem;
      margin-top: 1rem;
    }

    &__tech {
      background-color: $secondary-color;
      color: $light-color;
      padding: 1rem;
      border-radius: 8px;
      margin: 2rem 0;
      font-weight: 300;
    }

    &__buttons {
      text-align: center;
    }

    &__btnLink {
      text-decoration: none;
    }

    &--btn {
      display: inline-block;
    }

    &__ghBtn {
      border: none;
      font-size: 1.2rem;
      background-color: $primary-color;
      color: $light-color;
      border-radius: 8rem;
      padding: 10px 20px;
      margin-right: 1rem;
      box-shadow: 11px 12px 31px -5px rgba(0, 0, 0, 0.5);


      &:hover {
        color: $highlight-color;
      }
    }

    &__liveBtn {
      font-size: 1.4rem;
      border: none;
      color: $primary-color;
      background-color: $light-color;

      &:hover {
        color: $secondary-color;
      }
    }

    &__liveBtn, &__ghBtn {
      transition: color .3s;
    }
  }
}
