@import '../colors/colors';

.skills {
  margin: 4rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1rem;
  gap: 2.5rem;
  max-width: 800px;

  &__heading {
    // Hiding the heading from screens but not screen readers
    position: absolute !important; /* Outside the DOM flow */
    height: 1px; width: 1px; /* Nearly collapsed */
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE 7+ only support clip without commas */
    clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
  }
}

.calendar {
  width: 80%;
  margin: 0 auto 7rem auto !important;
  min-width: 300px;
  max-width: 1350px;
  min-height: 0 !important;
  
  &__wrapper {
    text-align: center;
  }

  &__heading {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

.badge {
  font-size: 3rem;
  color: $primary-color;
  transition: all 0.3s;

  &:hover {
    color: $secondary-color;
    transform: scale(1.3);
  }
}
